## Console In & Out

In [1]:
# %load 3\console_test.py
print("Enter your name")
somebody = input()
print("Hi", somebody)

Enter your name
hj
Hi hj

In [2]:
%run 3\console_test.py

Enter your name
hj
Hi hj

In [3]:
print("Enter your name")
somebody = input()
print("HI", somebody)

Enter your name
hj
HI hj

In [4]:
print(2, "Hi")

2 Hi

In [ ]:
# %load 3\temperature.py
temperature = float(input("온도를 입력하세요 :"))
print(temperature)
print(type(temperature))

In [6]:
temperature = float(input("온도를 입력하세요 :"))
print(temperature, type(temperature))

온도를 입력하세요 :130
130.0 <class 'float'>

## Lab: 화씨 변환기

In [12]:
print("본 프로그램은 섭씨를 화씨로 변환해주는 프로그램입니다")
print("변환하고 싶은 섭씨 온도를 입력해 주세요:")
c_temp = float(input())
print("섭씨온도 :",c_temp)
f_temp = round( ((9/5) * c_temp) + 32, 3)
print("화씨온도 :", f_temp)

본 프로그램은 섭씨를 화씨로 변환해주는 프로그램입니다
변환하고 싶은 섭씨 온도를 입력해 주세요:
32.2
섭씨온도 : 32.2
화씨온도 : 89.96

In [16]:
%run 3\fahrenheit.py

본 프로그램은 섭씨를 화씨로 변환해주는 프로그램입니다
변환하고 싶은 섭씨 온도를 입력해 주세요:
32.2
섭씨온도 : 32.2
화씨온도 : 89.96

## Pring Formatting
- %-format
- str.format( )

In [23]:
print(1,2,3)
print("%d %d %d" % (1,2,3)) # 같은 표현

1 2 3
1 2 3

In [25]:
print("a" + " " + "b" + " " + "c" ) # +으로 연결하면 띄어쓰기가 없다
print("{} {} {}".format("a","b","c"))

a b c
a b c

### %-format 
%datatype % (variable)

In [27]:
print("%s %s" % ("one", "two")) # %s : string

one two

In [28]:
print("%d %d" % (1,2))

1 2

In [29]:
print("I eat %d apples." % 3)

I eat 3 apples.

In [30]:
print("I eat %s apples" % "five")

I eat five apples

In [33]:
number = 3; day = "five"
print("I ate %d apples. I was sick for %s days." % (number, day)) # 변수로도 지정이 가능하다

I ate 3 apples. I was sick for five days.

In [35]:
print("Product: %s, Price per unit: %f" % ("Apple", 5.243))

Product: Apple, Price per unit: 5.243000

In [37]:
print("Art: %5d, Price per unit: %8.2f" % (453, 59.058)) # datatype 앞의 숫자는 자릿수, . 뒤의 숫자는 소수점 아래 자릿수

Art:   453, Price per unit:    59.06

### str.format( )
"~{datatype}~".format(argument)

In [39]:
age = 25; name = "Heejun Oh"
print("I'am {0} years old.".format(age))

I'am 25 years old.

In [40]:
print("My name is {0} and {1} years old.".format(name, age))

My name is Heejun Oh and 25 years old.

In [44]:
print("Product: {0}, Price per unit: {1:.3f}" .format("Apple", 5.243))

Product: Apple, Price per unit: 5.243

In [45]:
print("Art: {0:5d}, Price per unit: {1:8.2f}" .format(453, 59.058))

Art:   453, Price per unit:    59.06

### padding: 여유 공간을 지정하여 글자배열 + 소수점 자릿수를 맞추기

In [49]:
print("Product: {0:>10s}, Price per unit: {1:10.3f}".format("Apple", 5.234))

Product:      Apple, Price per unit:      5.234

### naming: 해당 표시할 내용을 변수로 표시하여 입력

In [50]:
print("Product: %(name)10s, Price per unit: %(price)10.5f" % {"name": "Apple", "price":5.243})

Product:      Apple, Price per unit:    5.24300

In [51]:
print("Product: {name: >10s}, Price per unit: {price: 10.5f}." .format(name = "Apple", price = 5.243))

Product:      Apple, Price per unit:    5.24300.

## List Data Type
R에서 c()와 비슷한 - column vector 생성

In [1]:
colors = ["red","blue","green"]

In [3]:
print(colors[0])
len(colors)

red

3

In [4]:
cities = ["서울","부산","인천","대구","대전","광주","울산","수원"]

In [5]:
cities[0:6]

['서울', '부산', '인천', '대구', '대전', '광주']

In [6]:
cities[-9:]

['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']

In [7]:
cities[:]

['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']

In [10]:
print(cities[::2], "AND", cities[::-1] )

['서울', '인천', '대전', '울산'] AND ['수원', '울산', '광주', '대전', '대구', '인천', '부산', '서울']

In [47]:
color = ["red","blue","green"]
color2 = ["orange","black","white"]

In [25]:
print(color + color2) # 두 리스트 합치기
print(color*2)

['red', 'blue', 'green', 'orange', 'black', 'white']
['red', 'blue', 'green', 'red', 'blue', 'green']

In [26]:
color[0] = "yellow"
color

['yellow', 'blue', 'green']

In [44]:
y = sorted(color)
print(y)

['blue', 'green', 'red']

In [49]:
ind = color.index("red")
print(color)
del color[ind]
print(color)

['red', 'blue', 'green']
['blue', 'green']

In [27]:
"blue" in color2 # dplyr의 %in% 개념

False

In [28]:
color.append("white")
print(color)

['yellow', 'blue', 'green', 'white']

In [29]:
color.extend(["black","purple"])
print(color) # color만 출력하면 column vector로 나온다

['yellow', 'blue', 'green', 'white', 'black', 'purple']

In [38]:
color.insert(0, "orange") # 0번째 자리에 orange 추가
print(color)

['orange', 'yellow', 'blue', 'green', 'white', 'black', 'purple']

In [39]:
color.remove("white")

In [40]:
del color[0]

In [41]:
print(color)

['yellow', 'blue', 'green', 'black', 'purple']

### 패킹과 언패킹

In [42]:
t = [1,2,3]

In [43]:
a, b, c = t # t에 있는 값 1,2,3을 각각 변수 a,b,c에 언패킹

In [45]:
print(t, a,b,c)

[1, 2, 3] 1 2 3

### 이차원 리스트

In [47]:
kor_score = [49,79,20,100,80]
math_score = [43,59,85,30,90]
eng_score = [49,79,48,60,100]

mid_score = [kor_score, math_score, eng_score]

In [48]:
print(mid_score)

[[49, 79, 20, 100, 80], [43, 59, 85, 30, 90], [49, 79, 48, 60, 100]]

In [49]:
mid_score[1]

[43, 59, 85, 30, 90]

In [50]:
mid_score[0][2]

20

### Assignment

In [ ]:
# %load Assignment\lab_3\exam_grader.py


# 총 과목 수를 Console를 통해 받기
def get_number_of_subjects():

    # """
    # Input:
    # 	- None
    # Output:
    # 	- number_of_subjects: Integer Type의 총 과목 수
    # Examples(python shell):
    # 	>>> import exam_grader as eg
    # 	>>> eg.get_number_of_subjects()
    #   과목수를 입력하세요: 10
    #   10
    # """
    #
    # ===Modify codes below=================
    number_of_subjects = int(input("과목수를 입력하세요: "))
    # ======================================
    return number_of_subjects

def get_average_score(total_score, number_of_subjects):
    return total_score/number_of_subjects


# Help Funtion - 수정하지 말 것
def sum_of_scores(number_of_subjects):

    total_score = 0
    for i in range(number_of_subjects):
        message = str(i + 1) + "번째 과목의 점수를 입력하세요 : "
        score = int(input(message))
        total_score = total_score + score
    return total_score


# Help Funtion - 수정하지 말 것
def print_exam_grader(average_score):
    grade = 'F'
    if average_score >= 90.0:
        grade = 'A'
    elif average_score >= 80.0:
        grade = 'B'
    elif average_score >= 70.0:
        grade = 'C'
    elif average_score >= 60.0:
        grade = 'D'
    else:
        grade = 'F'
    print("평균 점수: ", average_score)
    print("학     점: ", grade)


def main():
    print("Start of Exam Grader Program")
    print("============================")

    number_of_subjects = get_number_of_subjects()
    total_score = sum_of_scores(number_of_subjects)
    average_score = get_average_score(
        total_score=total_score, number_of_subjects=number_of_subjects)
    print_exam_grader(average_score)

    print("===========================")
    print("End of Exame Grader Program")

if __name__ == '__main__':
    main()