# 1. 기본 자료형
-- Data Type: 파이썬이 처리하는 기본 데이터 유형
1. 정수형(Integer)
2. 실수형(Float - 소수점 포함)
3. 문자형(String)
4. 논리형(Boolean)

In [10]:
a = 1
b = 1

In [11]:
print(a,b)

1 1

In [12]:
type(a)

int

In [6]:
a = 1.5
b = 3.5

In [7]:
print(a,b)

1.5 3.5

In [9]:
type(a)

float

In [13]:
a = "ABC"
b = "10101"

In [14]:
type(b)

str

In [16]:
a = True # R과 다르게 True != T (T 하나만 쓰는 것은 안됨)
b = False

In [17]:
type(a)

bool

# 2. 기본 연산자
-  "**"는 제곱승 연산자
- "%"는 나머지를 구하는 연산자
- "//"는 몫을 구하는 연산자

In [22]:
a = 3; b = 5

In [24]:
a ** b

243

In [25]:
b % a

2

In [26]:
b // a

1

# 3. 증가 또는 감소 연산

In [33]:
a = 1

In [34]:
a = a+1
print(a)

2

In [35]:
a += 1 # <==> a = a + 1

In [36]:
print(a)

3

In [39]:
a -= 3 # <==> a = a-3

In [40]:
print(a)

-3

# 4. 데이터형 변환

1. 정수형 <-> 실수형 : float() / int()

In [52]:
a = 10
type(a) # 데이터 타입에 선언해주지 않아도 바로 '정수'로 인식 (Dynamic Typing)

int

In [53]:
b = 10.0
type(b)

float

In [54]:
c = int(b)
d = float(a)
print(c, d)

10 10.0

In [55]:
print(type(c), type(d))

<class 'int'> <class 'float'>

In [56]:
a = 10.7
b = 10.3

In [59]:
a = int(a)
b = int(b)
print(a+b, type(a+b)) # 소수점 이하 내려짐, 20.0이 아니기 떄문에 integer type

20 <class 'int'>

In [60]:
print(a,b)

10 10

2. 숫자 <-> 문자열 : str()

In [63]:
a = "76.3"
b = float(a)

In [67]:
print(b, type(b))

76.3 <class 'float'>

In [68]:
a = float(a)
b = a

In [69]:
print(a+b)

152.6

In [71]:
a = str(a)
b = str(b)
print(a+b) # 문자열 간 덧셈은 문자열 간 단순 연결

76.376.3